body{
    background-image: url('https://media3.giphy.com/media/fq8HxnZAkoTybqirPN/200w.gif?cid=6c09b952snd6q9e8069v6cyi4yd2m6u8qids2trxmrc9c1pe&ep=v1_gifs_search&rid=200w.gif&ct=g');
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'Rubik Iso', cursive;
}

h1{
    text-align: center;
    color: white;
    font-size: 50px;
}

