body{
    background-image: url('https://media1.giphy.com/media/l4KihuqeuJEi9qLSM/200w.gif?cid=6c09b952ioxwuxeclnwf83oo8uy7icjtky6xenpeoc3ydssu&ep=v1_gifs_search&rid=200w.gif&ct=g');
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'Rubik Iso', cursive;
}

h1{
    text-align: center;
    color: white;
    font-size: 50px;
}

