body{
    background-image: url('awesome-background.gif');
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'Rubik Iso', cursive;
}

h1{
    text-align: center;
    color: white;
    font-size: 65px;
}

